/* Estilos generales */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

/* Contenedor principal */
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

/* Estilos de la sección de perfil */
.sub-container {
  height: 80vh;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #ccc; /* Borde gris */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  text-align: center;
}

.profile {
  width: 35vw;
}

/* Imagen de perfil */
.profile-picture {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #e0e0e0;
  margin-bottom: 20px;
}

/* Nombre del perfil */
.profile h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

/* Descripción del perfil */
.description {
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #666;
}

.description a {
  color: #1E90FF;
  text-decoration: none;
  cursor: disabled;
}

.description a:hover {
  text-decoration: none;
  cursor: disabled;
}

/* Red de contacto social */
.social-network {
  display: flex;
  justify-content: center;
  gap: 20px; /* Espacio entre íconos */
}

.social-item {
  font-size: 1.5em;
  color: white;
  background-color: #0073e6;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.social-item:hover {
  background-color: #005bb5;
}

/* Estilos del botón de correo electrónico */
#email {
  background-color: #0073e6;
  border: none;
  outline: none;
  padding: 0;
}

#email:hover {
  background-color: #005bb5;
}

/* Contenedor de los proyectos */
.projects {
  width: 55vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 40px;
  box-sizing: border-box;
}

/* Estilo de las figuras */
.gallery-item {
  display: none;
  transition: opacity 0.5s ease-in-out;
}

.gallery-item.active {
  display: block;
  opacity: 1;
}

.title {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 10px;
  color: #1a2a3a; /* Color similar al de la imagen */
}

.description {
  font-size: 1.2em;
  color: #3b4c5d; /* Color suave como el de la imagen */
}

.skills {
  display: flex;
  gap: 20px; /* Espacio entre las secciones de habilidades */
}

.technical, .soft {
  display: flex;
  flex-direction: column; /* Asegura que los items se alineen verticalmente */
}

.section-title {
  font-size: 1.2em; /* Ajusta el tamaño del título */
  margin-bottom: 10px; /* Espacio entre el título y los items */
  color: #333; /* Color del título */
}

.skill-item {
  background-color: #5D3FD3;
  display: inline-block;
  padding: 5px 14px;
  color: white;
  border-radius: 20px;
  margin-bottom: 5px; /* Espacio entre los items */
}



/* Estilos para los dots */
.dots {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  justify-content: center;
  width: 100%;
}

.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ccc;
  cursor: pointer;
}

.dot.active {
  background-color: #1a2a3a; /* Color similar al de la imagen */
}
